@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}


/* HEADER */
header{
    background-color: #0084FD;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* NAV */

nav{
    padding: 10px 15px;
    color: white;
}

nav div > img{
    width: 100%;
    cursor: pointer;
}

nav .fa-bars{
    font-size: 1.5rem;
    cursor: pointer;
}

.menu-desktop{
    display: none;
}


/* MAIN */

main{
    margin: 7rem 0;
}

/* SECTION-1 */

.cont-flex{
    width: 90%;
    margin-inline: auto;
    display: flex;
}

.card{
    background-color: #B5DDFF;
    border-radius: 25px;
    padding: 30px 35px 0 35px;
    flex-basis: 100%;
    margin-bottom: 30px;
}

.card-phone{
    background-color: #B5DDFF;
    border-radius: 25px;
    padding: 30px 35px 0 35px;
    flex-basis: 100%;
    margin-bottom: 30px;
}

.card-phone div > h2{
    color: #0084FD;
    margin-bottom: 20px;
}

.card-phone div > p{
    color: #546777;
    margin-bottom: 20px;
    line-height: 25px;
    font-weight: bold;
}

.card-phone div > .fa-apple{
    margin-right: 0.3rem;
}

.card-img > img{
    margin-top: 40px;
    width: 100%;
    display: block;
}

.btn{
    padding: 10px 40px;
    border-radius: 25px;
    display: inline-block;
    cursor: pointer;
}

.btn-blue{
    color: white;
    background-color:  #0084FD;
}

.btn-white{
    color: black;
    background-color: white;
}

.icons{
    text-align: center;
    padding-bottom: 30px;
}

.icons i{
    color: #0084FD;
    font-size: 8rem;
    margin-bottom: 20px;
}

.icons h2{
    color: #0084FD;
    margin-bottom: 20px;
}

.icons p{
    color: #546777;
    line-height: 25px;
    font-weight: bold;
}

/* SECTION-2 */

.cont-flex-2{
    width: 90%;
    margin-inline: auto;
    display: flex;
    padding: 40px 0;
}

.bg-purple{
    background-color: #9792e4;
}

.planning-top{
    flex-basis: 100%;
    color: white;
}

.planning-top > h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.planning-top > p{
    font-size: 0.7rem;
    margin-bottom: 20px;
}

.planning-btm{
    flex-basis: 100%;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    text-align: center;
}

.planning-top div > img{
    width: 100%;
    padding-bottom: 60px;
}

.planning-btm div > img{
    width: 100%;
    margin-bottom: 20px;
}

.planning-btm > span{
    font-weight: bold;
    color: #546777;
}

.planning-btm > p{
    margin: 20px 0;
}

.freccia{
    background-color: #9792e4;
    padding: 10px 15px;
    border-radius: 100%;
    display: inline-block;
    border: 1px solid #546777;
}









/* FOOTER */



/* MEDIA-QUERY-NAV-DESKTOP */

@media screen and (min-width: 1024px){

    .menu-burger{
        display: none;
    }

    .menu-desktop{
        display: block;
    }

    .menu-desktop > span{
        margin: 0 0.5rem;
        cursor: pointer;
    }

    nav{
        width: 70%;
        margin: auto;
    }

    /* MEDIA-QUERY-SECTION1-DESKTOP */

    .cont-flex{
        justify-content: space-between;
        width: 90%;
        margin-inline: auto;
    }

    .card-phone{
        flex-basis: 66%;
        display: flex;
    }

    .card{
        flex-basis: 32%;
    }

    .icons i{
        font-size: 5em;
    }

    .card-img > img{
        width: 90%;
    }
    
}


/* MEDIA-QUERY-SECTION-1-TABLET */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .cont-flex{
        justify-content: space-between;
        width: 90%;
        margin-inline: auto;
    }

    .card-phone{
        flex-basis: 66%;
    }

    .card{
        flex-basis: 32%;
    }

    .icons i{
        font-size: 5em;
    }

    .card-img > img{
        width: 60%;
    }
}

